<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="div">
    <meta name="keywords" content="div block inline elements span">
    <link rel="shortcut icon" href="./assets/div-coding-icon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/7e83459078.js" crossorigin="anonymous"></script>

    <title>IFCD0210 DIV</title>
    <style>
        table,
        tr,
        th,
        td {
            border: solid 1px black;
        }

        ul,
        li {
            list-style-type: none;
            display: flex;

        }


        footer {
            justify-content: space-evenly;
        }
    </style>
    <script src="https://kit.fontawesome.com/7e83459078.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <h1>IFCD0210 DIV - Sobre Nosotros</h1>
    </header>
    <hr>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio<i class="fa-regular fa-house"></i></a></li>
            <li><a href="./contenido.html">Contenido<i class="fa-solid fa-graduation-cap"></i></a></li>
            <li><a href="./sobre.html">Sobre el curso<i class="fa-solid fa-person-chalkboard"></i></a></li>
            <li><a href="./contacto.html">Contacto<i class="fa-regular fa-address-book"></i></a></li>
            <li><a href="./donde.html">Dónde estamos<i class="fa-solid fa-location-dot"></i></a></li>
        </ul>
    </nav>
    <hr>
    <!--empieza el main-->
    <main>
        <h2>donde</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d777626.1309461902!2d-4.9165158218750085!3d40.4176653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422883f1a16b31%3A0x168455d04ef6c381!2sMinisterio%20de%20Educaci%C3%B3n%20y%20Formaci%C3%B3n%20Profesional!5e0!3m2!1ses!2ses!4v1770226135113!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    </main>
    <!--termina el main-->
    <footer>
        <hr>
        <ul>
            <li>&copy; Ministerio de Educación de España</li>
            <li><a href="http://linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.meta.ai/"><i class="fa-brands fa-meta"></i></a></li>
            <li><a href="https://github.com/"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </footer>
</body>

</html>